<% layout("/layouts/boilerplate.ejs")%>
<body>
    <h1 style="text-align: center;">Edit your listing</h1>

<form method="post" action="/listings/<%=listing._id%>?_method=PATCH" class="needs-validation" novalidate enctype="multipart/form-data"> 

    <div class="create-form mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" value="<%=listing.title%>" name="title" required>

    <DIV class="invalid-feedback">Please provide a valid title !!</DIV>
    <DIV class="valid-feedback">Title looks good !!</DIV>
  </div>
  <div class="create-form mb-3">
     <label for="description" class="form-label">Description</label> <br>
     <textarea name="description" class="form-control" id="description" required style="height: 100px;"><%=listing.description%></textarea>

    <DIV class="invalid-feedback">Please provide a valid description !!</DIV>
    <DIV class="valid-feedback">Description looks good !!</DIV>
  </div>
  <div class="create-form mb-3">
  <img src="<%= listing.image.url %>" style="height: 10rem;" alt="Your image appears here!!"> <br>
    <label for="image" class="form-label">Upload a new image</label> <br>
    <input type="file" class="form-control" id="image" value="<%=listing.image%>" name="image">

    
    
  </div>


   <div class="create-form" style="width: 15rem;">
    <label for="price" class="form-label">Price</label> 
    <input type="number" class="form-control" id="price" value="<%=listing.price%>" name="price" required>
  
        <DIV class="invalid-feedback">Please provide a valid price !!</DIV>
    <DIV class="valid-feedback">Price looks good !!</DIV>
  </div> &nbsp;&nbsp;

  
  <div class="create-form mb-3">
    <label for="country" class="form-label">Country</label> 
    <input type="text" class="form-control" id="country" value="<%=listing.country%>" name="country" required>

        <DIV class="invalid-feedback">Please provide a valid country name !!</DIV>
    <DIV class="valid-feedback">Country name looks good !!</DIV>
  </div>
  
  <div class="create-form mb-3">
    <label for="location" class="form-label">Location</label> <br>
    <input type="text" class="form-control" id="location" value="<%=listing.location%>" name="location" required>

    <DIV class="invalid-feedback">Please provide a location !!</DIV>
    <DIV class="valid-feedback">Location looks good !!</DIV>
  </div> <br>


  <div class="mb-3" style="position: relative; left: 16rem; max-width: 60rem;">
  <h5>Select Filters</h5>
  <div class="row">
    <% const allFilters = ["Trending","Rooms","Iconic Cities","Mountains","Castles","Swimming Pools","Camping","Farms","Arctic"]; %>
    <% allFilters.forEach(f => { %>
      <div class="col-3"> <!-- 12/3 = 4 per row -->
        <div class="form-check">
          <input style="margin-top: 1rem;"
            class="form-check-input" 
            type="checkbox" 
            name="listing[filters]" 
            value="<%= f %>" 
            id="<%= f %>">
          <label class="form-check-label" style="margin-top: 0.7rem;" for="<%= f %>">
            <%= f %>
          </label>
        </div>
      </div>
    <% }) %>
  </div>
</div>



  
  <button type="Add" class="create-form btn btn-danger" style="width: 5rem;">Edit</button> <br><br><br>

</form>

</body>
